ROOT_PASSWORD = "<enter password here>" # This is the root password for the DB: Enter the password you want here.
DB_PASSWORD = "<enter password here>" # This is a password for the test user (Bob): Enter the password you want here.
DB_USER = "<Enter user here>" # Enter a user name here. 
DB_NAME = "<Enter DB name here>" # Enter the name for your database here.